# config.cfg
forwarding = true
memory_size = 8192
latency_add = 1
latency_sub = 1
latency_addi = 1
latency_slt = 1
latency_lw = 2
latency_sw = 1
max_cycles = 100000000
data_base = 256

# ── Cache Configuration (Phase 2 & 3) ──
# L1 Instruction Cache
l1i_size = 1024
l1i_block_size = 64
l1i_assoc = 2
l1i_latency = 1

# L1 Data Cache
l1d_size = 4096
l1d_block_size = 64
l1d_assoc = 1
l1d_latency = 1

# Unified L2 Cache (Disabled for Phase 3)
l2_size = 0
l2_block_size = 64
l2_assoc = 1
l2_latency = 0

# Main Memory Access Latency (cycles)
mem_latency = 100

# Replacement Policy: lru or fifo
replacement_policy = lru


# ── Virtual Memory Configuration (Phase 3) ──
virtual_size_bytes = 536870912
physical_size_bytes = 262144
page_size_bytes = 4096
dtlb_entries = 16
tlb_hit_latency = 1
page_walk_latency = 10
page_fault_latency = 50
vm_replacement_policy = lru

# To run in trace mode, uncomment the line below:
# trace_mode = true